h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

section > div {
    margin: auto;
    width: 70%;
}

.main-nav {
    text-align: center;
}
ul {
    padding: 0;
}
ul li {
    display: inline-block;
    border: 1px solid gray;
    padding: 10px;
}
ul li a {
    text-decoration: none;

}
.database > table {
    width: 50%;
    margin: auto;
}
