h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

section > div {
    margin: auto;
    width: 70%;
}
nav ul {
    margin: auto;
    width: 50%;
    display: block;
    text-align: center;
}
nav ul li {
    display: inline-block;

}
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#our-list li {
    border: 1px solid gray;
    list-style-type: none;
    padding: 10px;
}
ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;

}
.database > table {
    width: 50%;
    margin: auto;
}

.active {
    background-color: orangered;
    color: #fff;
}